*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, 'Sans-serif', heveltica;
}

#main-header{
    background-color: #252F3D;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 15px;
    height: 50px;
    width: 100%;
    color: #ffffff;
}
#main-header-mobile{
    background-color: #252F3D;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 15px;
    height: 50px;
    width: 100%;
    color: #ffffff;
}

#content-verificado, #content-frete, #content-coracao, #content-verificadoNovamente{
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
    cursor:pointer;
}

.logo{
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-content: space-around;
    justify-items: center;
    padding: 30px;
    gap: 70em;
    width: 100%;
}

.waiting-orders{
    width: 100%;
    text-align: center;
    margin-bottom: 75px;
}
.waiting-orders h1{
    font-size: 2.8em;
    margin-bottom: 24px;
}
.waiting-orders p{
    font-size: 1.5em;
}

.delivery{
    display: flex;
    margin-bottom: 44px;
    justify-content: space-around;
    
}

.delivery .delivery-step-one, .delivery-step-two{
    background-color: #85BF55;
    border-radius: 50%;
    width: 2.2em;
    padding: 8px 6px;
    height: 2.2em;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    cursor:pointer;
}
.delivery .delivery-step-three{
    background-color: #2C7EF8;
    border-radius: 50%;
    width: 2.2em;
    padding: 8px 6px;
    height: 2.2em;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    align-items: center;
    cursor:pointer;
}
.delivery .delivery-step-four{
    background-color: #ffffff;
    border-radius: 50%;
    border-style: solid;
    border-color: #2C7EF8;
    width: 2.2em;
    padding: 8px 6px;
    height: 2.2em;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    align-items: center;
    cursor:pointer;
}

#delivery-one, #delivery-two, #delivery-three, #delivery-four{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#step-three{
    font-size: 1.5em;
    color: white;
}
#step-four{
    font-size: 1.5em;
    color: #2C7EF8;
}
#text-step-three, #span-step-three{
    font-weight: bold;
}
#span-step-one,
#span-step-two,
#span-step-three,
#span-step-four{
    margin-right: 8px;
}

.marketing{
    width: 80%;
    grid-template-columns: 2fr 2fr;
    background-color: #FAFAFA;
    height: auto;
    gap: 100px;
    padding: 41px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.userFeedback{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 46px;
    flex-direction: column;
    background: #ffffff;
    border-radius: 15px;
    padding: 22px;
}
.userInfo{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 11px;
}
.verif{
    display: flex;
    gap: 10px;
}
.verif p {
    color: #5bb59a;
}
.marketingrapf1{
    width: 100%;
    margin-bottom: 24px;
}
.grapf1{
    width: 100%;
}
.grapf2{
    width: 100%;
    height: 100vh;
}
.pTextOne{
    color: #2C7EF8;
}
.marketingMobile{
    display: none;
}
.containerCel{
    display: grid;
    gap: 16px;
    line-height: 1.5;
    grid-template-columns: 1fr;
}
/* .starsInfo{
    position: absolute;
    left: 1154px;
} */
#stock{
    margin-right: 20px;
}
.textes{
    display: flex;
    line-height: 2;
    flex-direction: column;
    align-items: flex-start;
}
.divTextOne,
.divTextTwo,
.divTextThree{
    display: flex;
    align-items: center;
    gap: 10px;
}
.divTextOne span{
    font-weight: bold;
}
.divTextTwo span{
    font-weight: bold;
}
.divTextThree span{
    font-weight: bold;
}
.div-percent{
    width: 30px;
    background: #2C7EF8;
    border-radius: 50%;
    height: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}
.save{
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: #EDF3FD;
    padding: 10px;
    border-radius: 15px;
}
.save span{
    color: #2C7EF8;
}
.grapf2{
    height: 100vh;
}
.grapf2Mobile{
    display: none;
}
.button {
    width: 100%;
    padding: 19px;
    border: none;
    color: white;
    font-size: 1.4em;
    text-transform: uppercase;
    border-radius: 50px;
    background: #59AE43;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hTextOne{
    width: 100%;
    font-size: 3rem;
    font-weight: 100;
}
.buttonImg{
    margin-left: 10px;
}
.infoCel{
    width:100%;
}
.starsInfo{
    width: 31%;
}
.infoText{
    width: 25rem;
}
.real-price{
    font-size: 41px;
    color: #2C7EF8;
}
.before-price{
    color: #969696;
    text-decoration: line-through;
}
.infoCel-span{
    display: flex;
    justify-content: space-between;
}
.imgCel{
    width: 45%;
    display: flex;
    justify-content: flex-start;
    gap: 19px;
}
.div-inform{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.stock{
    display: flex;
    flex-direction: column;
}
.div-radio{
    display:flex;
}
.stock p{
    color: #37465A;
}
.price{
    display: flex;
    gap: 10px;
    align-items: center;
}
.photoCel{
    background: #2C7EF8;
    border-radius: 20px;
}
.btn-left-arrow, .btn-right-arrow{
    background: transparent;
    border: none;
    cursor: pointer;
}
.footer{
    padding: 45px;
    background-color: #252F3D;
    color: #ffffff;
    height: 88px;
    margin-top: 61px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.copyright{
    display: flex;
    gap: 16px;
}
.secure{
    display: flex;
    align-items: center;
    gap: 16px;
}
.freteShipping{
    border: 1px solid #CFCFCF;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.shipping{
    border-right: 1px solid #CFCFCF;
}
.secureEnc{
    border-right: 1px solid #CFCFCF;
}
.shipping p{
    margin-right: 27px;
}
.secureEnc p{
    margin-right: 27px;
}
.secureEnc{
    display: flex;
    align-items: center;
    gap: 10px;
}
.textRed{
    width: 100%;
    color: #F82C2C;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin-bottom: 32px;
    font-size: 1.4em;
    text-decoration: underline;
}

.div-satisfaction{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.div-satisfaction span{
    font-weight: bold;
}
.textOne{
    margin-bottom: 32px;
}
.containerCel{
    margin-bottom: 32px;
}
.textes{
    margin-bottom: 32px;
}
.saveContainer{
    margin-bottom: 32px;
}
.div-button{
    margin-bottom: 32px;
}
.freteShipping{
    margin-bottom: 32px;
}

@media only screen and ((min-width: 200px) and (max-width: 767px)){
    .logo {
        gap: 0em;
    }
    #logo{
        width: 70%;
    }
    .waiting-orders p {
        font-size: 1.2em;
        color: #4D5254;
    }
    #span-step-one,
    #span-step-two,
    #span-step-three,
    #span-step-four{
        display: none;
    }
    #delivery-one, #delivery-two, #delivery-three, #delivery-four {
        display: flex;
        flex-direction: column;
    }
    .marketing {
        margin-top: 0px;
    }
    .marketingImg{
        display: none;
    }
    .marketingMobile{
        display: block;
        width: 100%;
    }
    .waiting-orders {
        margin-bottom: 24px;
        display:none;
    }
    .footer {
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        white-space: nowrap;
        position: relative;
        top: 500px;
        font-size: 10px;
        gap: 16px;
        padding: 70px;
    }
    #main-header{
        display: none;
    }
    .grapf1 {
        display: none;
    }
    .grapf2Mobile {
        padding: 10px;
        display: block;
    }
    .starsInfo {
        right: 210px;
        left: 0;
    }
    .marketing{
        width: 100%;
        display: none;
    }
    .hTextOne {
        font-size: 1.6em;
    }
    .containerCel {
        width: 100%;
        max-width: 352px;
    }
    .infoCel-span {
        justify-content: space-evenly;
        align-items: center;
    }
    .textOne {
        /* margin-left: 94px; */
        padding: 10px;
    }
    .imgCel{
        width: 30%;
        flex-direction: column;
    }
    .div-inform {
        justify-content: space-evenly;
        align-items: flex-start;
        width: 95%;
    }
    .infoText {
        width: 16rem;
    }
    .freteShipping {
        height: 7vh;
        flex-direction: column;
    }
    .button {
        padding: 14px;
        font-size: 0.8em;
    }
    .textes {
        font-size: 14px;
    }
    .freteShipping {
        height: 13vh;
        gap: 10px;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        white-space: nowrap;
        font-size: 9px;
    }
    .shipping {
        border-right: 1px solid #CFCFCF;
    }
    .secureEnc {
        border-right: none;
    }
    .delivery {
        display: flex;
        margin-bottom: 44px;
        justify-content: space-around;
        flex-direction: row;
    }
}

@media only screen and ((min-width: 820px)){
    .logo {
        display: grid;
        grid-template-columns: 2fr 2fr;
        justify-content: space-around;
        justify-items: center;
        padding: 30px;
        gap: 0em;
        width: 100%;
    }
    .marketingImg{
        width: 50%;
    }
    #main-header-mobile{
        display:none;
    }
}
@media only screen and ((min-width: 768px)){
    .logo {
        display: grid;
        grid-template-columns: 2fr 2fr;
        justify-content: space-around;
        justify-items: center;
        padding: 30px;
        gap: 0em;
        width: 100%;
    }
    .marketingImg{
        width: 50%;
    }
    #main-header-mobile{
        display:none;
    }
}
@media only screen and ((min-width: 1200px)){
    .marketingImg{
        width: 70%;
    }
    #main-header-mobile{
        display:none;
    }
}